table {
    width: 100%;
    border-collapse: collapse;
    td,
    th {
        border: 1px solid #333;
        padding: 10px;
    }
    thead {
        tr {
            background-color: rgb(157, 138, 138);
        }
    }

    tbody {
        tr:nth-child(odd) {
            background-color: #cccccc7a;

            td:first-child {
                text-align: center;
            }
        }
    }
}
